*{
    margin: 0;
    padding: 0;

}

.corpo{
    background-image: radial-gradient(red,black);


}
.arrumar-corpo{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 101px; 
    font-size: 30px;
    margin-left: 300px;
    
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 100px;
    background-color: black;
    color: red;

}
.pe{
    margin-top: 118px;
    background-color: red;
}
.serie{
    font-size: 80px;
    margin-bottom: 30px;
}
.filme{
    font-size: 80px;
}