*{
margin: 0;
padding: 0;

}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
    margin-left: 150px;
    margin-top: 25px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    margin-left: 33px;
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }



.corpo{
    background-image: linear-gradient(black, rgb(30,129,129));
}

.cabecalho{
    display: flex;
    font-size: 40px;
    background-color: black;
    color: blue;

}
.texto-cabecalho{
    display: flex;
    margin-left: 550px;
}
.imagem-cabecalho{
    display: flex;
    width: 120px;
    padding: 10px;
}


.titulo-corpo{
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 30px;
    color: blue;
}

.imagens-corpo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 89px;
}
.imagem{
    width: 70%;
    padding: 30px;

}
.pe{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 57px;
    margin-top: 52px;
}

*{  
margin: 0;
padding: 0;
box-sizing: 0;
}
.body{
display: flex;
min-height: 100vh;
align-items: center;
background-color: #f2cb05;
margin-left: 20px;
}